---
import '../../styles/global.css';
import Header from '../../components/Header.astro';
import Sidebar from '../../components/Sidebar.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../blog/*.md');
  const posts = allPosts.filter(post => 
    new Date(post.frontmatter.date) <= new Date() && !post.frontmatter.draft
  );
  
  const tags = new Set();
  posts.forEach(post => {
    post.frontmatter.tags?.forEach(tag => tags.add(tag));
  });
  
  return Array.from(tags).map(tag => ({
    params: { tag },
    props: { 
      posts: posts.filter(post => 
        post.frontmatter.tags?.includes(tag)
      ),
      tag,
      allPosts: posts
    }
  }));
}

const { posts, tag, allPosts } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/10219431" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Posts tagged: {tag}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <Header />
    <div class="content-wrapper">
      <div class="main-content">
        <main>
        
        <h2>Posts tagged: <span class="tag">{tag}</span></h2>
        
        <ul>
          {posts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
              <p class="date">{post.frontmatter.date}</p>
              <p class="description">{post.frontmatter.description}</p>
              <div class="tags">
                {post.frontmatter.tags?.map((tag) => (
                  <a href={`/tags/${tag}`} class="tag">{tag}</a>
                ))}
              </div>
              <a href={post.url} class="read-more">Read more →</a>
            </li>
          ))}
        </ul>
      </main>
      </div>
      <Sidebar posts={allPosts} />
    </div>
  </body>
</html>